  .homeContainer{
    height: 100vh;
    padding-top: 6rem;
    position: relative;
    /* overflow: hidden; */
  }
  
  .floatingWork,
  .floatingAbout{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 900;
    color: white;
    position: absolute;
  }
  
  .floatingWork,
  .floatingAbout{
    display: none;
  }
  
  .portfolioParent{
    background: #E57983;
    background: -webkit-gradient(linear, left top, right top, from(#E57983), to(#EFB197));
    background: -webkit-linear-gradient(left, #E57983, #EFB197);
    background: -o-linear-gradient(left, #E57983, #EFB197);
    background: linear-gradient(to right, #E57983, #EFB197);
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
    max-width: 37rem;
    padding: 2px;
  }
  
  .portfolioContainer {
    background: #2C374A;
    padding: 1.5rem;
  }
  
  .portfolioContainer h1 {
    color: white;
    font-family: 'Lot', Arial, sans-serif;
    text-align: center;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 1rem;
    font-weight: normal;
    width: 16.25rem;
  }

  .portfolioContainer span{
    display: inline-block;
  }
  
  .portfolioContainer h1:last-of-type{
    margin-bottom: 0;
    letter-spacing: 26px;
  }
  
  .portfolioContainer h5 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    color: white;
    position: absolute;
  }

  .portfolioContainer h5.name,
  .portfolioContainer h5.profession{
    font-size: .9rem;
  }
  
  .portfolioContainer h5.name{
    top: 30%;
    left: 2rem;
  }
  
  .portfolioContainer h5.profession{
    top: 60%;
    right: 3.2rem;
    white-space: nowrap;
  }
  
  .contactIcon {
    overflow: hidden;
    bottom: 20px;
    display: block;
    position: fixed;
    text-align: center;
    line-height: 12px!important;
    right: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 9;
    height: 50px;
    width: 50px;
    background-color: rgb(44, 55, 74);
    box-shadow: 2px 2px 10px #222a38;
  }
  
  .contactIcon img{
    width: 30px;
    height: auto;
    margin-bottom: 0;
    padding-top: .8rem;
    transition: all 0.5s ease;
  }

  .contactIcon img:hover{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    .portfolioContainer {
      padding: 1.5rem;
    }
    
    .portfolioContainer h1 {
      letter-spacing: 0.875rem;
      font-size: 9rem;
      width: auto;
    }
    

    .portfolioContainer h5.name,
    .portfolioContainer h5.profession{
      font-size: 1.2rem;
    }

    .portfolioContainer h5.name{
      top: 28%;
    }
    
    .portfolioContainer h5.profession{
      top: 62%;
      right: 3.2rem;
    }
    
    .floatingWork,
    .floatingAbout{
      display: block;
    }

    .floatingWork{
      display: block;
      font-size: 7rem;
      -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
                transform-origin: top left;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      bottom: 35%;
      left: 5.5rem;
    }
    
    .floatingAbout{
      font-size: 5rem;
      bottom: -3rem;
      left: 4.5rem;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 992px) and (orientation: landscape) {
    .floatingWork,
    .floatingAbout{
      display: none;
    }

    .portfolioContainer h1 {
      letter-spacing: 0.875rem;
      font-size: 4rem;
    }

    .portfolioContainer h5.name,
    .portfolioContainer h5.profession{
      font-size: .9rem;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

    .portfolioParent{
      max-width: 37rem;
      padding: 2px;
      top: 7rem;
      right: 20%;
      -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    }

  }