.sidebar{
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2C374A;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
            transform: translateX(-110%);
  -webkit-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center
}

.open{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

ul{
    list-style: none;
}
